{
    auto_https off
}

:3000 {
    log

    mercure {
        publisher_jwt {env.MERCURE_PUBLISHER_JWT_KEY}
        subscriber_jwt {env.MERCURE_SUBSCRIBER_JWT_KEY}
        cors_origins *
        publish_origins *
        demo
    }

    respond /healthz 200
    respond "Not Found" 404
}